
   <nav class="navbar navbar-custom navbar-fixed-top" >
      <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Visualize Cricket</a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                  <ul class="nav navbar-nav pull-right">
                        <li><a ui-sref="home" ui-sref-active='active'>HOME</a></li>


                        <li><a ui-sref="team" ui-sref-active='active'>TEAM</a></li>
                        <li><a ui-sref='match' ui-sref='active'>MATCH</a></li>
                        <li><a ui-sref="player">PLAYER</a></li>
                        <li><a ui-sref="about">ABOUT</a></li>

                  </ul>

            </div>
       </div>
  </nav>