<div class="container-fluid" style="height: 100%;" ng-controller="home">

     <div class="row">
            <div class="col-sm-3">
                <p style="10px"></p>

                <div class="panel panel-primary">

                        <div class="panel-heading">Cricket Statistics</div>
                        <div class="panel-body">
                                <dl class="dl-vertical">
                                    <dt>
                                        <h3><small>Countries Playings:</small></h3>
                                    </dt>
                                    <dd>

                                        <cite title="Source Title">100 countries</cite>
                                    </dd>
                                    <dt>
                                        <h3><small>Highest Run:</small></h3>

                                    </dt>
                                    <dd>
                                        <cite title="Source Title">100 by England</cite>
                                    </dd>
                                    <dt><h3><small>Lowest Run</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">20 by Scotland</cite>
                                    </dd>
                                    <dt><h3><small>Most Ducks</small></h3></dt>
                                    <dd>

                                         <cite title="Source Title">-Inzamam</cite>
                                    </dd>
                                    <dt><h3><small>Best Batting</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">-Shewag(200)</cite>
                                    </dd>
                                    <dt><h3><small>Best Bowling</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">-Shoaib Akhtar</cite>
                                    </dd>
                                </dl>
                          </div>

                    </div>

            </div>
            <div class="col-sm-8 col-sm-offset-1">
                        <p style="10px"></p>
                    <!--<ng-include src="'../views/home_countryList.html'"></ng-include>-->

                        <div id="mapdiv" class="makingRelative" style=" width:90%; height:90%;"></div>

            </div>

    </div>
</div>

