<div class="container-fluid" style="height: 100%;" >

     <div class="row">
            <div class="col-sm-3">
                <p style="10px"></p>

                <div class="panel panel-primary">

                        <div class="panel-heading">Cricket Statistics</div>
                        <div class="panel-body">
                                <dl class="dl-vertical">
                                    <dt>
                                        <h3><small>Countries Playings:</small></h3>
                                    </dt>
                                    <dd>

                                        <cite title="Source Title">{{header.Number_of_teams}} countries</cite>
                                    </dd>
                                    <dt>
                                        <h3><small>Highest Run:</small></h3>

                                    </dt>
                                    <dd>
                                        <cite title="Source Title">{{header.highest_runs}} by {{header.highest_runs_team}}</cite>
                                    </dd>
                                    <dt><h3><small>Lowest Run</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">{{header.lowest_runs}} by {{header.lowest_runs_team}}</cite>
                                    </dd>
                                    <dt><h3><small>Most Ducks</small></h3></dt>
                                    <dd>

                                         <cite title="Source Title">-{{header.most_ducks_batsman}}</cite>
                                    </dd>
                                    <dt><h3><small>Best Batting</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">-{{header.best_batsman}}({{header.best_batsman_runs}}})</cite>
                                    </dd>
                                    <dt><h3><small>Best Bowling</small></h3></dt>
                                    <dd>
                                        <cite title="Source Title">-{{header.best_bowler}} ({{header.best_bowler_runs_conceded}}/{{header.best_bowler_wickets}})</cite>
                                    </dd>
                                </dl>
                          </div>

                    </div>

            </div>
            <div class="col-sm-8 col-sm-offset-1">
                        <p style="10px"></p>
                    <!--<ng-include src="'../views/home_countryList.html'"></ng-include>-->

                        <div id="mapdiv" class="makingRelative" style=" width:90%; height:90%;"></div>

            </div>

    </div>
</div>

