<div class="row">
     <center>
         <h2>
             <span>{{team1}}</span> VS
                <span>{{team2}}</span>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>    
             <small>{{match}}</small>
        </h2>
                      
    </center>
    <center>
        <div class="col-sm-3">
             <h2><small><strong>Player of the match</strong></small></h2>
             <p> <cite>{{header.player_of_the_match}}</cite> </p>
        </div>
         <div class="col-sm-2">
                      <h2><small><strong>Toss</strong></small></h2>
                     <p>
                            <cite>{{header.match.toss.winner}}({{header.match.toss.decision}})</cite>
                      </p>
        </div>
         <div class="col-sm-2">
                   <h2><small><strong>Result</strong></small></h2>
                     <p>
                         <cite>{{header.match.outcome.winner}} by 
                             <cite ng-if='header.match.outcome.by.runs!=null'>{{header.match.outcome.by.runs}}runs</cite>
                             <cite ng-if='header.match.outcome.by.wickets!=null'>{{header.match.outcome.by.wickets}}wicket</cite>({{header.winner_runs_scored}}/{{header.team_lost_runs}})
                             
                         </cite>
                     </p>
         </div>
       <div class="col-sm-2">
                <h2><small><strong>Best Batting</strong></small></h2>
                <p>
                    <cite>{{header.best_batsman}}({{header.best_batsman_runs}}) </cite>
                 </p>
        </div>
       <div class="col-sm-3">
                 <h2><small><strong>Best Bowling</strong></small></h2>
                 <p>
                     <cite>{{header.best_bowler}}({{header.best_bowler_wickets}}/{{header.best_bowler_run_conceded}}) </cite>
                  </p>
       </div>
    </center>
  

   
     
</div>