 <div class="row">

     <center> <h2>{{player}} <button class="btn btn-default btn-success">{{team}}</button><span class="badge">{{year}}</span></h2></center>

    <center>
        <div class="col-sm-3">
            <h2><small><strong>Matches PLayed</strong></small></h2>
             <p>
                 <cite>-35</cite>
             </p>

             </div>
             <div class="col-sm-2">
                <h2><small><strong>Total Runs</strong></small></h2>
                  <p>
                     <cite>-300</cite>
                   </p>
             </div>
            <div class="col-sm-2">
                  <h2><small><strong>Century</strong></small></h2>
                  <p>
                         <cite>30</cite>
                  </p>
             </div>
            <div class="col-sm-2">
                    <h2><small><strong>Best Batting</strong></small></h2>
                    <p>
                       <cite>200 with pakistan</cite>
                    </p>
            </div>
            <div class="col-sm-3">
                    <h2><small><strong>Best Bowling</strong></small></h2>
                    <p>
                        <cite>4/20 west indies</cite>
                    </p>
             </div>
    </center>

 </div>