 <div class="row">

     <center> <h2>{{player}} <button class="btn btn-default btn-success">{{team}}</button><span class="badge">{{year}}</span></h2></center>

    <center>
        <div class="col-sm-3">
            <h2><small><strong>Matches PLayed</strong></small></h2>
             <p>
                 <cite>-{{header.matches_played}}</cite>
             </p>

             </div>
             <div class="col-sm-3">
                <h2><small><strong>Highest Runs</strong></small></h2>
                  <p>
                     <cite>-{{header.highest_runs_scored}}</cite>
                   </p>
             </div>
            <div class="col-sm-3">
                  <h2><small><strong>Century/Fifty</strong></small></h2>
                  <p>
                         <cite>{{header.total_100s}}/{{header.total_50s}}</cite>
                  </p>
             </div>
           
            <div class="col-sm-3">
                    <h2><small><strong>Best Bowling(W/R)</strong></small></h2>
                    <p>
                        <cite>{{header.best_bowling_wickets}}/{{header.best_bowling_runs_conceded}}</cite>
                    </p>
             </div>
    </center>

 </div>