<center>

       <div ui-view='graph' ></div>    
      <ul class="pagination">
             <li><a ui-sref=".performance({id:1})" ui-sref-active='active' data-toggle='tooltip' data-placement='top' title='Batting Performance'>1</a></li>
             <li ><a ui-sref=".performance({id:2})" ui-sref-active='active' data-toggle='tooltip' data-placement='top' title='Batting Partnership'>2</a></li>	    
            <li><a ui-sref=".performance({id:3})" ui-sref-active='active' data-toggle='tooltip' data-placement='top' title='Batsman VS Bowler'>3</a></li>
             <li><a ui-sref=".performance({id:4})" ui-sref-active='active'
                    data-toggle='tooltip' data-placement='top' title='Bowling Performance'>4</a></li>
            
      </ul>
</center>