    <div class="row" >

                <center> <h2>{{country}} <small><span class="label label-default label-primary">{{year}}</span></small></h2></center>

                <center>
                    <div class="col-sm-3">
                        <h2><small><strong>Best Batsman</strong></small></h2>
                        <p>
                            <cite>-{{header.best_batsman}}({{header.best_batsman_runs}})</cite>
                        </p>

                    </div>
                    <div class="col-sm-3">
                        <h2><small><strong>Highest Total</strong></small></h2>
                        <p>
                            <cite>-{{header.highest_runs}}</cite>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h2><small><strong>Lowest Total</strong></small></h2>
                        <p>
                            <cite>-{{header.lowest_runs}}</cite>
                        </p>
                    </div>
                    
                    <div class="col-sm-3">
                        <h2><small><strong>Best Bowling</strong></small></h2>
                        <p>
                            <cite>{{header.best_bowler}}({{header.best_bowler_wickets}}/{{header.best_bowler_runs_conceded}}) </cite>
                        </p>
                    </div>
                </center>

</div>